*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/wallpaper-notes.jpeg);
    background-position: 5% 5%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    height: 5rem;
}

.main-header, .container{
    background-color: white;
}

.main-header img{
    height: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
}

.main-header h1{
    font-size: 3rem;
    display: inline-block;
    vertical-align:text-bottom;
}

main{
    width: 95rem;
    height: 110rem;
    margin: 70px auto;
}

.container{ 
    border-radius: 1px;
    margin-bottom: 5px; 
    background-color: rgba(250, 250, 250, 0.5);
}

#first-block{
    height: 5em;
    padding: 1.5em 3em;
}

.input-bar button{
    font-size: 1em;
    border-radius: 10%;
    padding: 0.6em 0.9em;
    font-weight: bold;
    margin-left: 1em;
}

.input-bar button:first-child{
    background-color: #47adf1;
    color: white;
    border-color: #49aef1;
}

.input-bar button:last-child{
    background-color: white;
    color: #969aa0;
    border-color: #969aa0;
}

#task-button:hover{
    box-shadow: 0.5px 0.5px 2.5px 4px #4194cc;
}

#section-button:hover{
    box-shadow: 0.5px 0.5px 2.5px 4px #7d7f8b;
}

#second-block{
    height: 60em;
    padding: 5em;
}

h2::before{
    content: "\25BC";
}

section{
    margin-bottom: 2em;
}

section h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

ul{
    list-style-type: none;
}

section p{
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 1em;
}

.symbol{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-left: 0.25em;
    border-radius: 100%;
}

li.green-task:hover{
    color: #2a7a36;
}

li.red-task:hover{
    color: #eb5851;
}

.check-green{
    color: #2a7a36;
    border: 1px solid #2a7a36;
}

.cross-red{
    color: #eb5851;
    border: 1px solid #eb5851;
}

.tags{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    border-radius: 18px;
    padding: 0.7em 1em;
}

p.editorial-tag{
    background-color: #45abea;
}

p.goals-tag{
    background-color: #9c72e4;
}

p.recruiting-tag{
    background-color: #64c0a9;
}

p.mobile-tag{
    background-color: #f29e33;
}

p.website-tag{
    background-color: #d863a1;
}

p.sales-tag{
    background-color: #b0c926;
}